## Haris Sumra
## Community Health Survery Analysis
## 11/03/2019

### In this Project:
* Usin pandas to ingest and select data for analysis.
* Clean up the data; drop any unnecessary columns along with renaming the columns. 
* Make a slice of the data that keeps just the "Year", "Question" and "Prevalence" columns.
* 
* Data was collected from (https://data.cityofnewyork.us/resource/wvxf-dwi5.csv)

### Importing all the libraries that I will be using in this module

In [83]:
#Dependencies
import pandas as pd
import numpy as np

### Extracting the data from the website listed below, only using up to 5000 rows for now.

In [84]:
#Get the data
df = pd.read_csv("https://data.cityofnewyork.us/resource/wvxf-dwi5.csv?$limit=5000")
df.shape

(5000, 40)

In [85]:
df.head(5)

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
0,10000009,265980,301467,3,BROOKLYN,355,355,355,EAST 48 STREET,36930,...,Original,Close,40.653217,-73.932480,17,41,870,3102071.0,3.046740e+09,East Flatbush-Farragut
1,10000011,73852,226626,2,BRONX,1123,1123,1123,EAST TREMONT AVENUE,29620,...,Original,Close,40.839954,-73.876599,6,15,220,2042428.0,2.040040e+09,East Tremont
2,10000012,80102,211704,2,BRONX,751,751,751,GERARD AVENUE,35020,...,Original,Close,40.824692,-73.926605,4,8,63,2002971.0,2.024820e+09,West Concourse
3,10000014,268639,350942,3,BROOKLYN,54,54,54,EAST 52 STREET,37080,...,Original,Close,40.659731,-73.929295,17,41,878,3099672.0,3.046050e+09,Prospect Lefferts Gardens-Wingate
4,10000017,268167,300713,3,BROOKLYN,146,146,146,EAST 52 STREET,37080,...,Original,Close,40.657615,-73.929067,17,41,878,3100214.0,3.046210e+09,Prospect Lefferts Gardens-Wingate

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
violationid              5000 non-null int64
buildingid               5000 non-null int64
registrationid           5000 non-null int64
boroid                   5000 non-null int64
boro                     5000 non-null object
housenumber              5000 non-null object
lowhousenumber           4997 non-null object
highhousenumber          5000 non-null object
streetname               5000 non-null object
streetcode               5000 non-null int64
zip                      5000 non-null int64
apartment                4173 non-null object
story                    4834 non-null object
block                    5000 non-null int64
lot                      5000 non-null int64
class                    5000 non-null object
inspectiondate           5000 non-null object
approveddate             5000 non-null object
originalcertifybydate    4954 non-null object
originalcorrectbydate    4954 non-null object
newcertifybydate         57 non-null object
newcorrectbydate         57 non-null object
certifieddate            720 non-null object
ordernumber              5000 non-null int64
novid                    5000 non-null int64
novdescription           5000 non-null object
novissueddate            4954 non-null object
currentstatusid          5000 non-null int64
currentstatus            5000 non-null object
currentstatusdate        5000 non-null object
novtype                  4954 non-null object
violationstatus          5000 non-null object
latitude                 5000 non-null float64
longitude                5000 non-null float64
communityboard           5000 non-null int64
councildistrict          5000 non-null int64
censustract              5000 non-null int64
bin                      4999 non-null float64
bbl                      4999 non-null float64
nta                      5000 non-null object
dtypes: float64(4), int64(14), object(22)
memory usage: 1.5+ MB

### Checking to see which columns are there, and which columns needs "renaming" or be "dropped"

In [87]:
df.columns

Index(['violationid', 'buildingid', 'registrationid', 'boroid', 'boro',
       'housenumber', 'lowhousenumber', 'highhousenumber', 'streetname',
       'streetcode', 'zip', 'apartment', 'story', 'block', 'lot', 'class',
       'inspectiondate', 'approveddate', 'originalcertifybydate',
       'originalcorrectbydate', 'newcertifybydate', 'newcorrectbydate',
       'certifieddate', 'ordernumber', 'novid', 'novdescription',
       'novissueddate', 'currentstatusid', 'currentstatus',
       'currentstatusdate', 'novtype', 'violationstatus', 'latitude',
       'longitude', 'communityboard', 'councildistrict', 'censustract', 'bin',
       'bbl', 'nta'],
      dtype='object')

### Dropping few columns that are not needed for data analysis, in this scenario we are dropping by columns.

In [99]:
df = df.drop(df.columns[[1,2,6,7,9,11,12]], axis=1)
df.head()

,ViolationID,House Number,Street Name,Zipcode,lot,inspectiondate,originalcorrectbydate,newcertifybydate,newcorrectbydate,certifieddate,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
76,10000394,2320,BRONX PARK EAST,10467,25,2013-10-09T00:00:00.000,2013-11-14T00:00:00.000,2013-12-19T00:00:00.000,2013-12-14T00:00:00.000,2013-12-17T00:00:00.000,...,Original,Close,40.860036,-73.870734,11,15,33201,2049747.0,2.043400e+09,Bronxdale
1069,10003633,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1070,10003634,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1071,10003635,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1072,10003636,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North

In [102]:
#df_filtered = df[df.columns[1,2]]

### Let's drop the columns using "dropna" command for any row/column that has "na" values

In [103]:
df = df.dropna()
df.head()

,ViolationID,House Number,Street Name,Zipcode,lot,inspectiondate,originalcorrectbydate,newcertifybydate,newcorrectbydate,certifieddate,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
76,10000394,2320,BRONX PARK EAST,10467,25,2013-10-09T00:00:00.000,2013-11-14T00:00:00.000,2013-12-19T00:00:00.000,2013-12-14T00:00:00.000,2013-12-17T00:00:00.000,...,Original,Close,40.860036,-73.870734,11,15,33201,2049747.0,2.043400e+09,Bronxdale
1069,10003633,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1070,10003634,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1071,10003635,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1072,10003636,170,NEW YORK AVENUE,11216,44,2013-10-10T00:00:00.000,2013-11-12T00:00:00.000,2013-12-01T00:00:00.000,2013-11-26T00:00:00.000,2013-12-02T00:00:00.000,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North

### Renaming columns to clean up the column names for better appearance

In [90]:
df = df.rename(columns={'violationid': "ViolationID",'boroid': "BoroughID",'boro':"Borough", "housenumber":" House Number",
                           "streetname":'Street Name','zip':'Zipcode'})
df.head()

,ViolationID,BoroughID,Borough,House Number,Street Name,Zipcode,apartment,block,lot,class,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
76,10000394,2,BRONX,2320,BRONX PARK EAST,10467,2F,4340,25,B,...,Original,Close,40.860036,-73.870734,11,15,33201,2049747.0,2.043400e+09,Bronxdale
1069,10003633,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1070,10003634,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1071,10003635,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
1072,10003636,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North

### Let's check if how many total Borough names can be found in the dataset, and if they are Misspelled in any form

In [91]:
df['Borough'].unique()

array(['BRONX', 'BROOKLYN', 'QUEENS', 'MANHATTAN'], dtype=object)

### There are four Borough that are found in Borough column, none are misspelled. 
### Checking if there are any remaining null value that could be found in the data set.

In [92]:
#Find the values of null
is_null = df[df['bin'].isnull()]
is_null.shape

(0, 34)

In [93]:
df['ViolationID'].value_counts()

10006752    1
10006750    1
10006749    1
10010741    1
10004379    1
10004378    1
10004377    1
10833686    1
10833685    1
10009204    1
10010738    1
10004367    1
10004364    1
10000394    1
10004361    1
10004358    1
10006751    1
10006747    1
10005881    1
10003641    1
10006753    1
10003640    1
10003639    1
10003638    1
10003637    1
10003636    1
10003635    1
10003634    1
10003633    1
10009135    1
10009132    1
10004362    1
10009203    1
10006756    1
10006755    1
10006754    1
10011585    1
Name: ViolationID, dtype: int64

### Since we are dealing with violations, it is possible that there are more than one violation for same house address but each ViolationID is unique. And we can verify that with this command

In [94]:
uniqueID =  pd.merge(df,df, on = ['ViolationID'])
uniqueID.shape

(37, 67)

### We can verify that, there are 37 different Violations out of 5000 rows, that has unique ViolationID but has the same address. Dropping such data from the dataset isn't necessary since we are comparing the data by each Borough.

In [95]:
uniqueID

,ViolationID,BoroughID_x,Borough_x,House Number_x,Street Name_x,Zipcode_x,apartment_x,block_x,lot_x,class_x,...,novtype_y,violationstatus_y,latitude_y,longitude_y,communityboard_y,councildistrict_y,censustract_y,bin_y,bbl_y,nta_y
0,10000394,2,BRONX,2320,BRONX PARK EAST,10467,2F,4340,25,B,...,Original,Close,40.860036,-73.870734,11,15,33201,2049747.0,2.043400e+09,Bronxdale
1,10003633,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
2,10003634,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
3,10003635,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
4,10003636,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
5,10003637,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
6,10003638,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
7,10003639,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
8,10003640,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
9,10003641,3,BROOKLYN,170,NEW YORK AVENUE,11216,2,1227,44,C,...,Original,Close,40.674488,-73.947294,8,36,31701,3031005.0,3.012270e+09,Crown Heights North
10,10004358,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
11,10004361,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Open,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
12,10004362,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Open,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
13,10004364,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
14,10004367,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
15,10004377,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
16,10004378,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
17,10004379,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Close,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
18,10005881,4,QUEENS,122-02,LUCAS STREET,11413,2FL,12705,30,B,...,Original,Open,40.684640,-73.756548,12,27,376,4273765.0,4.127050e+09,St. Albans
19,10006747,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
20,10006749,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
21,10006750,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
22,10006751,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
23,10006752,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
24,10006753,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
25,10006754,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
26,10006755,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
27,10006756,1,MANHATTAN,884,WEST END AVENUE,10025,94,1875,1,C,...,Original,Close,40.799816,-73.969866,7,6,191,1056560.0,1.018750e+09,Upper West Side
28,10009132,1,MANHATTAN,11 1/2,WEST 84 STREET,10024,4B,1198,24,C,...,Original,Close,40.784249,-73.970920,7,6,169,1031307.0,1.011980e+09,Upper West Side
29,10009135,1,MANHATTAN,11 1/2,WEST 84 STREET,10024,4B,1198,24,C,...,Original,Close,40.784249,-73.970920,7,6,169,1031307.0,1.011980e+09,Upper West Side
30,10009203,3,BROOKLYN,426,EAST 22 STREET,11226,2C,5185,16,C,...,Original,Close,40.641198,-73.957330,14,40,51602,3119515.0,3.051850e+09,Flatbush
31,10009204,3,BROOKLYN,426,EAST 22 STREET,11226,2C,5185,16,C,...,Original,Close,40.641198,-73.957330,14,40,51602,3119515.0,3.051850e+09,Flatbush
32,10010738,3,BROOKLYN,7,HEGEMAN AVENUE,11212,3F,3621,1,B,...,Original,Open,40.655591,-73.911863,16,42,896,3082700.0,3.036210e+09,Brownsville
33,10010741,3,BROOKLYN,7,HEGEMAN AVENUE,11212,3F,3621,1,B,...,Original,Open,40.655591,-73.911863,16,42,896,3082700.0,3.036210e+09,Brownsville
34,10833685,1,MANHATTAN,201,SHERMAN AVENUE,10034,2G,2222,7,C,...,Original,Close,40.865381,-73.921101,12,10,293,1064777.0,1.022220e+09,Marble Hill-Inwood
35,10833686,1,MANHATTAN,201,SHERMAN AVENUE,10034,2G,2222,7,C,...,Original,Close,40.865381,-73.921101,12,10,293,1064777.0,1.022220e+09,Marble Hill-Inwood
36,10011585,1,MANHATTAN,1726,2 AVENUE,10128,4,1552,51,C,...,Reissued,Close,40.780215,-73.950030,8,5,154,1050139.0,1.015520e+09,Yorkville

In [97]:
#Changing the data type of Zipcode in dataset int64 to an object
df['Zipcode'] = df['Zipcode'].astype(str)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 76 to 3402
Data columns (total 34 columns):
ViolationID              37 non-null int64
BoroughID                37 non-null int64
Borough                  37 non-null object
 House Number            37 non-null object
Street Name              37 non-null object
Zipcode                  37 non-null object
apartment                37 non-null object
block                    37 non-null int64
lot                      37 non-null int64
class                    37 non-null object
inspectiondate           37 non-null object
approveddate             37 non-null object
originalcertifybydate    37 non-null object
originalcorrectbydate    37 non-null object
newcertifybydate         37 non-null object
newcorrectbydate         37 non-null object
certifieddate            37 non-null object
ordernumber              37 non-null int64
novid                    37 non-null int64
novdescription           37 non-null object
novissueddate            37 non-null object
currentstatusid          37 non-null int64
currentstatus            37 non-null object
currentstatusdate        37 non-null object
novtype                  37 non-null object
violationstatus          37 non-null object
latitude                 37 non-null float64
longitude                37 non-null float64
communityboard           37 non-null int64
councildistrict          37 non-null int64
censustract              37 non-null int64
bin                      37 non-null float64
bbl                      37 non-null float64
nta                      37 non-null object
dtypes: float64(4), int64(10), object(20)
memory usage: 10.1+ KB